body {
  margin: 0;
  background-color: #121212;
  overflow: hidden;
}

#back {
  width: 20px;
  position: absolute;
  top: 25px;
  left: 10px;
}
canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
p {
  color: #fff;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Montserrat";
  font-size: 33px;
  letter-spacing: 5px;
}
